* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

.header {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: yellow;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

section {
  padding: 60px 40px;
}

ul li {
  list-style: none;
  background: #eee;
  margin: 8px 0;
  padding: 10px;
}
#gallery {
  background: #f9f9f9;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}
.dark {
  background: #111;
  color: white;
}

.dark section {
  background: #111;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 24px;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }
}
.profile-pic {
  width: 150px !important;
  height: 150px !important;
}
@media (max-width: 600px) {
  .profile-pic {
    width: 100px;
    height: 100px;
  }
}




